*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0f172a;
    color:white;
    overflow-x:hidden;
}

/* NAVBAR */

.navbar{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    position:fixed;
    top:0;
    z-index:1000;
    background:rgba(0,0,0,0.3);
    backdrop-filter:blur(10px);
}

.logo{
    font-size:24px;
    font-weight:700;
    color:#fff;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    transition:0.3s;
}

.nav-links a:hover{
    color:#38bdf8;
}

/* HERO */



.overlay{
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
}

.hero-content{
    position:relative;
    z-index:2;
    animation:fadeIn 2s ease;
}

.principal-image{
    width:170px;
    height:170px;
    border-radius:50%;
    object-fit:cover;
    border:6px solid white;
    margin-bottom:25px;
    box-shadow:0 0 40px rgba(255,255,255,0.5);
}
.hero
    {
    height:100vh;
    background:url('karate-practice.jpg');
    background-position:center;
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    text-align:center;
}
.hero h1{
    font-size:70px;
    line-height:1.1;
}

.hero p{
    margin-top:20px;
    font-size:24px;
}

.hero-buttons{
    margin-top:35px;
}

.btn{
    display:inline-block;
    padding:14px 32px;
    background:#38bdf8;
    color:white;
    text-decoration:none;
    border-radius:50px;
    margin:10px;
    transition:0.4s;
    font-weight:600;
}

.btn:hover{
    transform:translateY(-5px);
    background:white;
    color:#0f172a;
}

.btn2{
    background:transparent;
    border:2px solid white;
}

/* ABOUT */

.about{
    display:flex;
    flex-wrap:wrap;
    padding:100px 8%;
    gap:60px;
    align-items:center;
}

.about-left{
    flex:1;
}

.about-left h2{
    font-size:50px;
    margin-bottom:20px;
}

.about-left p{
    line-height:1.8;
    margin-bottom:20px;
    color:#d1d5db;
}

.about-right{
    flex:1;
}

.about-right img{
    width:100%;
    border-radius:25px;
}

/* STATS */

.stats{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:30px;
    padding:80px 8%;
}

.stat-box{
    background:#1e293b;
    padding:40px;
    border-radius:20px;
    text-align:center;
    transition:0.4s;
}

.stat-box:hover{
    transform:translateY(-10px);
}

.stat-box h2{
    font-size:50px;
    color:#38bdf8;
}

/* FACILITIES */

.facilities{
    padding:100px 8%;
    text-align:center;
}

.facilities h2{
    font-size:55px;
    margin-bottom:50px;
}

.facility-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.facility-card{
    background:#1e293b;
    padding:40px;
    border-radius:20px;
    transition:0.4s;
}

.facility-card:hover{
    transform:translateY(-10px) scale(1.03);
    background:#38bdf8;
}

.facility-card h3{
    margin-bottom:15px;
    font-size:28px;
}

/* GALLERY */

.gallery{
    padding:100px 8%;
    text-align:center;
}

.gallery h2{
    font-size:55px;
    margin-bottom:50px;
}

.gallery-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:20px;
}

.gallery-container img{
    width:100%;
    height:250px;
    object-fit:cover;
    border-radius:20px;
    transition:0.4s;
}

.gallery-container img:hover{
    transform:scale(1.05);
}

/* PRINCIPAL */

.principal-section{
    padding:100px 8%;
}

.principal-card{
    background:#1e293b;
    padding:50px;
    border-radius:25px;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    gap:40px;
}

.principal-card img{
    width:250px;
    height:250px;
    border-radius:50%;
    object-fit:cover;
}

.principal-card h2{
    font-size:45px;
    margin-bottom:20px;
}

.principal-card p{
    line-height:1.8;
    color:#d1d5db;
}

/* FOOTER */

footer{
    background:black;
    text-align:center;
    padding:50px 20px;
}

.footer-links{
    margin:20px 0;
}

.footer-links a{
    color:white;
    margin:0 15px;
    text-decoration:none;
}

.footer-links a:hover{
    color:#38bdf8;
}

/* ANIMATION */

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(30px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

/* MOBILE */

@media(max-width:768px){

    .hero h1{
        font-size:42px;
    }

    .navbar{
        flex-direction:column;
        gap:15px;
    }

    .nav-links{
        gap:15px;
    }

    .about{
        flex-direction:column;
    }

    .principal-card{
        flex-direction:column;
        text-align:center;
    }

}
